<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="app">

        <ul>
            <li v-for="(value, key, index) in obj">
                {{value}} == {{key}} == {{index}}
            </li>
        </ul>

        <ol>
            <li v-for="item in list">
                {{item}}
            </li>
        </ol>

    </div>
    
</body>
</html>
<script src="../vue.js"></script>
<script>

    const app = new Vue({
        el:"#app",
        data:{
            obj:{
                name:'zhangs',
                age:11,
                job:'it'
            },
            list:[
                'zhangs',
                'lisi',
                'wangwu'
            ]
        }
    })


    // ##app
    

</script>